<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>주차관리 시스템</title>
</head>

<body>
    <h1> 주차장을 고르세요. </h1>
    <div>
        <% parkingLotList.forEach(element => { %>
            <input type="button" value="<%= element.name %>" onclick="movepage(<%= element.parkingLotIndex %>);" />
        <% }); %>
    </div>
</body>
<script type="text/javascript">
    function movepage(value) {
        location.href = `/main/${value}`;
    }
</script>
</html>