<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>주차관리 시스템</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link rel="stylesheet" href="/css/style.css" type="text/css">
        <link rel="stylesheet" href="/css/intro.css" type="text/css">
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#">주차관리 시스템</a>
            </div>
        </nav>
        <!-- Page content-->
        <div class="container">
            <div class="text-center mt-5">
                <h1> 인덱스가 <%= idx %> 인 주차장을 골랐습니다. </h1>
                <p class="lead">엣지 컴퓨팅 기반 클라우드 거주자 주차관리 시스템</p>
            
                <div>
                    <table class="select-table">
                        <% parkingLotList.forEach(element => { %>
                            <tr> <td onclick="movepage(<%= element.parkingLotIndex %>);"><%= element.name %></td> </tr>
                        <% }); %>
                    </table>
                </div>

            </div>
        </div>

        <script type="text/javascript">
            function movepage(value) {
                location.href = `/main/${value}`;
            }
        </script>

        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
